@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Poiret+One&family=Russo+One&family=Sen:wght@400;700&family=Shadows+Into+Light+Two&display=swap");

/* GENERAL
----------------------- */

:root {
  --bodyColor: #000;
  --mainColor: #1a243f;
  --hoverColor: #e33a3a;
  --whiteColor: #fff;
  --pinkColor: #fab6cf;
  --greenColor: #64a545;

  --nothingFont: "Nothing You Could Do", cursive;
  --shadowsFont: "Shadows Into Light Two", cursive;
  --russoFont: "Russo One", sans-serif;
  --senFont: "Sen", sans-serif;
  --poiretFont: "Poiret One", cursive;
}

* {
  padding: 0;
}

app-content {
  display: none;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}
body {
  background-color: var(--bodyColor) !important;
}

/* NAVIGATION
----------------------- */

nav {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  margin: 0 20px;
}

.navbar-brand img {
  padding: 10px;
  max-height: 50px;
}

.nav-item {
  padding: 0 10px;
  display: block;
}

.nav-link {
  text-transform: uppercase;
  color: var(--whiteColor) !important;
  font-size: 18px;
  font-family: var(--shadowsFont);
}

.nav-link:hover {
  color: var(--hoverColor) !important;
}

/* MAIN PHOTO
----------------------- */

.mainPhoto {
  height: 100vh;
  background-image: url("../img/mainPhoto.jpg");
  background-size: cover;
}

.socialIcons {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translate(0, -50%);
}

.socialIcons ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.socialIcons img {
  max-width: 50px;
  margin: 5px 0;
  opacity: 0.3;
  transition: 0.2s ease-in-out;
}

.socialIcons img:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* ALBUM COVER
----------------------- */

.coverArea {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  font-family: var(--nothingFont);
  padding: 40px 0;
}

.coverArea img {
  width: 300px;
}

.coverArea h1 {
  color: var(--pinkColor);
  font-size: 30px;
}

.coverArea p {
  font-size: 24px;
}

.albumLyrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

.streamingAlbumIcons {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.streamingAlbumIcons img {
  width: 20%;
  align-self: flex-end;
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}

.streamingAlbumIcons img:hover {
  opacity: 0.9;
}

.streamingAlbumIcons a {
  display: contents;
}

/* HELLO TEXT
----------------------- */

.helloArea {
  color: var(--whiteColor);
  font-family: var(--shadowsFont);
}

.helloArea h1 {
  color: var(--pinkColor);
  text-align: center;
  margin-bottom: 20px;
}

.helloArea p {
  line-height: 250%;
  font-size: 18px;
  letter-spacing: 0.05em;
}

/* MUSIC
----------------------- */

.musicCover {
  position: relative;
  width: 100%;
  height: 100%;
}

.musicCover img {
  width: 100%;
  height: 100%;
}

.musicOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #313131;
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

.songTitle {
  position: absolute;
  z-index: 10000;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  color: var(--whiteColor);
  background: rgba(0, 0, 0, 0.4);
  font-size: 24px;
  font-family: var(--shadowsFont);
  width: 80%;
  text-align: center;
  padding: 5px 0;
}

.playButton {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30% !important;
  height: 30% !important;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.playButton:hover {
  opacity: 0.9;
}

/* CONCERTS
----------------------- */

.concertsArea h1 {
  color: var(--pinkColor);
  text-align: center;
  font-family: var(--shadowsFont);
}

.concertRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--whiteColor);
}

.concertInfo {
  width: 75%;
  display: flex;
}

.concertDate {
  font-family: var(--russoFont);
  font-size: 3.5vmin;
  flex-basis: 40%;
  flex-shrink: 0;
}

.concertCity {
  font-family: var(--senFont);
  font-weight: 700;
  font-size: 22px;
  flex-grow: 1;
}

.concertLocation {
  font-family: var(--senFont);
  font-weight: 400;
  font-size: 18px;
  flex-grow: 0;
}

.ticketAvailable,
.ticketUnavailable,
.ticketFree {
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 21px;
  font-size: 18px;
  font-family: var(--senFont);
  font-weight: 700;
  color: var(--whiteColor);
  opacity: 0.9;
  transition: 0.2s ease-in-out;
}

.ticketAvailable {
  background-color: var(--mainColor);
}

.ticketUnavailable {
  background: #6a6a6a;
  color: #dadada;
}

.ticketFree {
  background-color: var(--greenColor);
}

.ticketAvailable:hover,
.ticketUnavailable:hover,
.ticketFree:hover {
  opacity: 1;
}

/* STORE
----------------------- */

.storeArea {
  padding: 0;
}

.storeArea a {
  display: contents;
}

.storeArea img {
  width: 100%;
}

.storeArea h1 {
  color: var(--pinkColor);
  font-family: var(--shadowsFont);
  font-size: 22px;
  border-bottom: 2px solid var(--pinkColor);
  display: inline-block;
  align-self: center;
}

.storeArea h2 {
  color: var(--whiteColor);
  font-family: var(--shadowsFont);
  font-size: 16px;
  display: inline-block;
  align-self: center;
}

.storeArea button {
  background-color: transparent;
  color: var(--pinkColor);
  font-family: var(--senFont);
  text-decoration: underline;
  text-transform: uppercase;
  border: 0;
  align-self: flex-end;
  font-weight: 700;
}

.storeHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}

.review {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.review img {
  width: 20%;
}

.review p {
  width: 75%;
  color: var(--whiteColor);
  font-family: var(--senFont);
  font-weight: 400;
}

/* CONTACT/FOOTER
----------------------- */

.footerArea {
  background-color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footerArea a {
  text-decoration: none;
  display: contents;
  color: var(--whiteColor);
}

.footerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLeftTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px 5px;
}

.footerLeftTop img {
  width: 30%;
  opacity: 0.4;
  transition: 0.2s ease-in-out;
}

.footerLeftTop img:hover {
  opacity: 0.9;
}

.footerLeftBottom {
  color: var(--whiteColor);
  padding: 30px 0;
  font-family: var(--poiretFont);
  font-size: 22px;
  text-align: center;
  opacity: 0.3;
}

.footerRight {
  width: 40%;
  padding: 2%;
}

.horizontalLine {
  height: 1px;
  width: 90%;
  background-color: var(--whiteColor);
  display: block;
  opacity: 0.4;
}

.verticalLine {
  height: 75%;
  width: 1px;
  background-color: var(--whiteColor);
  display: block;
  opacity: 0.3;
}

.socialFooterIcon {
  color: var(--whiteColor);
  opacity: 0.3;
  padding: 10px 40px;
  font-family: var(--poiretFont);
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.socialFooterIcon:hover {
  opacity: 0.9;
}

.socialFooterIcon img {
  width: 12%;
  margin-right: 30px;
}

.mobileContact img {
  width: 14%;
  opacity: 0.3;
  padding: 15px 10px;
  transition: 0.2s ease-in-out;
}

.mobileContact img:hover {
  opacity: 0.9;
}

/* MEDIA QUERIES
----------------------- */

@media (min-width: 768px) {
  .footerLeftBottom {
    font-size: 24px;
  }

  .ticketAvailable,
  .ticketUnavailable,
  .ticketFree {
    width: 200px;
  }
}

@media (min-width: 576px) {
  .storeArea h1 {
    font-size: 30px;
  }

  .storeArea h2 {
    font-size: 22px;
  }

  .footerLeftTop img {
    width: 20%;
  }

  .footerLeftTop {
    padding: 30px 5px;
  }
}
